.castWrap {
    margin: 0 auto;
    font-family: Montserrat;
    color: white;
}

.castTitle {
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    color: white;
}

.castPoster {
    display: flex;
    margin: 0 auto;
    border-radius: 15px;
}

.castGenres {
    text-align: center;
    font-size: 32px;
    color: tomato;
    font-weight: 700;
}

.actorPhoto {
    width: 80px;
    height: 120px;
}

.castGenresList {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: center;
    list-style: none;
}

.actorName{
    text-align: center;
    width: 100%;
}

.castGenresListItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 160px;
}

.castCompanies {
    text-align: center;
    color: tomato;
    font-weight: 700;
}

.castCompaniesImg {
    width: 180px;
    height: 60px;
}

.castCompaniesList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.castCompaniesListItem {
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    flex-wrap: wrap;
    max-width: 200px;
    padding-bottom: 15px;
    border-bottom: 1px solid tomato;
}

.release {
    margin-top: 40px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 700;
    margin-bottom: 30px;
}