.moviePageNav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    background-color: aliceblue;
    margin-top: 0;
    border-radius: 5px;
    padding-left: 0;
    justify-content: center;
    padding: 20px 20px;
    color: red;
    font-family: Montserrat;
    color: steelblue;
    font-weight: 700;
}

.movieTitle {
    text-align: center;
    font-family: Montserrat;
    color: whitesmoke;
}

.moviePoster {
    display: flex;
    margin: 0 auto;
    border-radius: 20px;
    width: 360px;
    height: 480px;
}

.reviewsStyle {
    width: 100%;
    text-align: center;
}

.castStyle {
    text-align: center;
    width: 100%;
}

.movieLinks {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}